@import "bootstrap/scss/bootstrap";

/*-----------------------------------*\
 * style.css PROJECT MUSIC TEACHERS
\*-----------------------------------*/


/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

    /**
     * colors
     */
    --green:rgb(57, 241, 11);
    --green-light:rgb(49, 255, 88);
    --green-dark:rgb(0, 191, 99);

    --bg-secondary: rgb(48, 48, 48);


    /**
    * typography
    */
    --fs-1: 2em;
    --fs-2: calc(1.813rem + 1vw);
    --fs-3: calc(1.313rem + 1vw);
    --fs-4: 1.4rem;
    --fs-5: 1rem;
    --fs-6: 0.813rem;
    --fs-7: 0.75rem;

    --fw-400: 400;
    --fw-700: 700;


/**
* transition
*/


}

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins" , sans-serif;
  }

  li { list-style: none; }

  a { text-decoration: none; }

//   a,
//   img,
//   time,
//   input,
//   label,
//   select,
//   button,
//   textarea,
//   ion-icon { display: block; }

  input,
  button,
  select,
  textarea {
    border: none;
    font: inherit;
  }

  button,
  select { cursor: pointer; }

  input,
  textarea { width: 100%; }

  ion-icon { pointer-events: none; }

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
  font-weight: 400;
}

.h2,
.h3,
.h4 {
  color: var(--color-primary);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.h2 { font-size: var(--fs-2); }

.h3 { font-size: var(--fs-3); }

.h4 { font-size: var(--fs-5); }

.w-100 { width: 100%; }

.bg-mt {
    background-image: url('/file-img-pdf/background-dashboard-login/Template-1800px-1200px.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-mt {
    width: 50px;
    height: 50px;
}

.my-card-slug {
    min-height: 150px;
    padding-top: 0;
}

/*-----------------------------------*\
 * #LOGIN / REGISTER
\*-----------------------------------*/

.bg-guest {
    min-height: 100vh;
    background-image: url('../img/file-img-pdf/background-dashboard-login/login.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


h2{
    color:#fff;
    text-align:center;
}

input.ms-form-control {
    background-color: transparent;
    border-bottom: 3px solid #fff;
    padding: 8px 0px;
}

input.ms-form-control:focus {
background-color: transparent;
}


.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}


.form-box{
    position:relative;
    background:transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius:20px;
    backdrop-filter:blur(15px);
    display:flex;
    padding: 0 50px;
    justify-content:center;
    align-items:center;

    max-width: 400px;
}



.text-teachers{
    background-image: linear-gradient(to right , black , green);
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width:310px;
    border-bottom: 2px solid #fff;
}

.inputbox label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    color:#fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}


.ms-progress{
    height: 5px;
    position: relative;
}

.ms-progress-bar{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.ms-point {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 50%;
    top: -3px;
    border-radius: 100%;
}

.ms-point.end{
    left: 100%;
    top: -3px;
    border-radius: 100%;
}

.ms-display-1{
    position: absolute;
    top: -23px;
    left: calc(50% - 3px);
}

.ms-display-2{
    position: absolute;
    top: -23px;
    left: calc(100% - 3px);
}



input:focus ~ label{
    top:-5px;
}

input:valid ~ label{
    top:-5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border:none;
    outline:none;
    font-size:1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top:20px;
}

.forget{
    display:flex;
    justify-content: space-between;
    margin:10px 0 15px;
    color: #fff;
}

.forget label:nth-child(2){
    order:1;
}

.forget label{
    display:flex;
    align-items: center;
}

.forget label input[type="checkbox"]{
    margin-right:6px;
}

.forget label a{
    color:#fff;
    text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}

button.btn-log{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background:#fff;
    border:none;
    outline: none;
    cursor:pointer;
    font-size: 1em;
    font-weight: 600;
}

.register{
    font-size: 0.9em;
    color:#fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color:#fff;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}


.ms-small-text{
    font-size: 14px;
}

/*-----------------------------------*\
 * #INDEX TEACHERS
\*-----------------------------------*/

.ms-bg-index-card{
    background: transparent;
    border-radius: 20px;
    backdrop-filter:blur(15px);
}


.wishlist{
    position: absolute;
    bottom: 260px;
    right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.wishlist svg{
    width: 30px;
    height: 30px;
    stroke: white; /* Imposta il colore del bordo */
    stroke-width: 1px; /* Imposta la larghezza del bordo */
    transition: fill 0.3s, stroke 0.3s; /* Aggiungi transizioni per ottenere un effetto fluido */
}

.wishlist:hover svg path{
    fill: #f4f80f;
    stroke: #f4f80f;
}

.button-logout{
    background-image: linear-gradient(to right, black, green);
    border: 1px solid green;
    color: white;
}

.button-logout:hover{
    background-image: linear-gradient(to right , transparent , transparent);
    background-color: white;
    border: 1px solid green;
    color:green;
    transition: background-color 0.5s linear;
}

.ms-textarea{
    all: unset;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    border-radius: 10px;
}
.ms-textarea:focus{
    all: unset;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba($color: #fff, $alpha: 0.3);
    border-radius: 10px;
}

.welcome-blur{
    backdrop-filter:blur(15px);
}

.img-card{
    min-height: 250px;
    max-height: 250px;
    object-fit: cover;
    object-position: top center;
}

/*-----------------------------------*\
* #DASHBOARD
\*-----------------------------------*/

// NAVBAR

.bg-dashboard {
    background-image: url('/file-img-pdf/background-dashboard-login/dashboard-scheletro.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.ms-button form{
    margin-top: auto;
}
.border-dash{
    border-right: 1px solid #45c00c;
}

.ms-img-dashboard{
    width: 32px;
    height: 32px;
    background-image: contain;
    border-radius: 50%;
    border: 2px solid var(--green-dark);
}

.ms-img-wrapper{
    width: 300px;
    height: 300px;
}

.ms-img-profile{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.chart-rating-container{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.chart-container{
    width: calc(45% - 30px);
    min-width: 600px;
}

// Braintree

.braintree-show-card {
    width: 100%;
}

.ms-action-wrapper{
    max-width: 200px;
}


.ms-button {
    margin-top: auto;
}

/*-----------------------------------*\
* #CARD SPONSORIZZAZIONI RESPONSIVE
\*-----------------------------------*/

.pricing-area {
	padding: 80px 0;
}
.single-price {
	padding-bottom: 25px;
	background: #fff;
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.single-price a {
	background: var(--green-dark);
	color: #fff;
	padding: 15px 30px;
	text-decoration: none;
	border-radius: 25px;
	display: inline-block;
}
.single-price:hover {
	cursor: pointer;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	transform: scale(1.04);
}
.single-price::before {
	content: "";
	width: 100%;
	height: 350px;
	background: var(--green-dark);
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}
.single-price .price-header {
	padding: 20px 20px 60px;
	text-align: left;
	position: relative;
}
.single-price .title {
	font-size: 30px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
.single-price .price-value {
	display: inline-block;
	width: 170px;
	height: 110px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	position: relative;
}
.single-price .value {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 5px solid #262626;
	border-top: none;
	border-bottom: none;
	z-index: 1;
	position: relative;
}
.single-price .value::before, .single-price .value::after {
	content: "";
	width: 97px;
	height: 97px;
	background: #fff;
	border: 5px solid #262626;
	border-bottom: none;
	border-right: none;
	position: absolute;
	top: -48px;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%) scaleY(0.5) rotate(45deg);
}
.single-price .value::after {
	border-right: 5px solid #262626;
	border-bottom: 5px solid #262626;
	border-top: none;
	border-left: none;
	top: auto;
	bottom: -48px;
}
.single-price .currency {
	display: inline-block;
	font-size: 30px;
	margin-top: 7px;
	vertical-align: top;
    color:black;
}
.single-price .amount {
	display: inline-block;
	font-size: 40px;
	font-weight: 600;
	line-height: 65px;
    color: black;
}
.single-price .amount span {
	display: inline-block;
	font-size: 30px;
	font-weight: normal;
	vertical-align: top;
	margin-top: -7px;
}
.single-price .month {
	display: block;
	font-size: 16px;
	line-height: 0;
    color:var(--green-dark)
}
.single-price .deals {
	padding: 70px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.single-price .deals li {
	padding: 7px 0;
	font-size: 16px;
	color: #808080;
	position: relative;
}
@media only screen and (max-width: 990px) {
	.single-price {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.single-price:before {
		transform: skewY(-15deg);
	}
	.single-price .title {
		font-size: 22px;
	}
}


